<form [formGroup]="mainFormGroup" class="formulario">
  <div class="mudaModoVencimento">
        <label>
            <input
                type="radio"
                formControlName="tipo"
                value="prazo"
                checked
                (change)="selecionarTipo('prazo')"
            />
            Por prazo
        </label>

        <label>
            <input
                type="radio"
                formControlName="tipo"
                value="data"
                (change)="selecionarTipo('data')"
            />
            Por data
        </label>
  </div>

  <div *ngIf="tipoSelecionado === 'prazo'" class="form-group">
    <div class="prazo-fields">
        <!--
            campo derivado, MOSTRA apenas o valor que o usuário digita 
            o valor real do prazo é armazenado em 'quantidadeDiasPrazo' (em dias)
        -->
        <input
            type="number"
            [value]="prazoExibido"
            (input)="atualizaPrazo($event)"
            min="1"
        />

        <select formControlName="unidade">
            <option value="dias">Dia(s)</option>
            <option value="meses">Mês(es)</option>
        </select>
    </div>
  </div>

  <div *ngIf="tipoSelecionado === 'data'" class="form-group">
    <input type="date" formControlName="dataVencimento" />
  </div>

  <pre>{{ mainFormGroup.value | json }}</pre>

</form>
