<form [formGroup]="mainFormGroup" class="formulario">
  <div class="mudaModoVencimento">
        <label>
            <input
                type="radio"
                formControlName="tipo"
                value="prazo"
                checked
                (change)="selecionarTipo('prazo')"
            />
            Por prazo
        </label>

        <label>
            <input
                type="radio"
                formControlName="tipo"
                value="data"
                (change)="selecionarTipo('data')"
            />
            Por data
        </label>
  </div>

  <div *ngIf="tipoSelecionado === 'prazo'" class="form-group">
    <div class="prazo-fields">
        <input
            type="number"
            formControlName="quantidadeDiasPrazo"
            min="1"
        />

        <select formControlName="unidade">
            <option value="dia">Dia(s)</option>
            <option value="mes">Mês(es)</option>
        </select>
    </div>
  </div>

  <div *ngIf="tipoSelecionado === 'data'" class="form-group">
    <input type="date" formControlName="dataVencimento" />
  </div>
</form>
